[submodule "external/trust_services.catala"]
	path = external/trust_services.catala
	url = https://github.com/bivex/trust_services.catala
[submodule "external/UAPKI"]
	path = external/UAPKI
	url = https://github.com/bivex/UAPKI
[submodule "external/EUSignES6"]
	path = external/EUSignES6
	url = https://github.com/bivex/EUSignES6
[submodule "external/SA-SignInfo"]
	path = external/SA-SignInfo
	url = https://github.com/kelatev/SA-SignInfo
[submodule "external/dms-dir"]
	path = external/dms-dir
	url = https://github.com/bivex/dms-dir
